@{
    ViewData["Title"] = "Movie List";
}
<h2>My Movie List</h2>
<p>Hello from our View Template!</p>
<!--
    El método Index en HelloWorldController ejecutó la instrucción return View();,
    que especificaba que el método de acción (Index) debe usar un archivo de plantilla de vista para 
    representar una respuesta al explorador.

    Usa una plantilla de vista para generar una respuesta HTML.

    ------

     ViewData["Title"] = "Movie List"; establece la propiedad Title del diccionario ViewData 
     en "Movie List" (Lista de películas). 
-->
